SENTINELHUB_CLIENT_ID=cole_seu_client_id_aqui
SENTINELHUB_CLIENT_SECRET=cole_seu_client_secret_aqui
SENTINELHUB_PROCESS_URL=https://services.sentinel-hub.com/api/v1/process
SENTINELHUB_STATS_URL=https://services.sentinel-hub.com/api/v1/statistics
SENTINELHUB_TOKEN_URL=https://services.sentinel-hub.com/oauth/token
